doctype html

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="theme-color",content="#ff5722")
    -let mf = require('../lib/manifest-loader!./manifest.json')
    link(rel="manifest", href=mf.manifest)
    each icon in mf.icons
      link(rel="icon",size=icon.sizes,type=icon.type,href=icon.src)
    title Schsrch
  body
    noscript
      h1 Schsrch without Javascript
    .react-root
    p.loading(style='text-align: center') Loading...
    !=require('raw!./index.svg')
