doctype html

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="theme-color",content="#ff5722")
    -let mf = require('../lib/manifest-loader!./manifest.json')
    link(rel="manifest", href=mf.manifest)
    each icon in mf.icons
      link(rel='icon', size=icon.sizes, type=icon.type, href=icon.src)
    link(rel="apple-touch-icon", href=require('./icon-apple.png'))
    link(rel="search", type="application/opensearchdescription+xml", title="schsrch", href="/opensearch.xml")
    meta(name="apple-mobile-web-app-title", content="SchSrch")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title Schsrch
    style!= require('./layout.sass').toString()
  body
    .react-root
    script.
      document.getElementsByClassName('querybox')[0].placeholder = 'Still loading...'
    each js in htmlWebpackPlugin.files.js
      script(src=js, async)
    != require('raw!./index.svg')
